@model Form.Models.Login
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p> </p>

<form method="post" action="Login">

    <div class="form-floating mb-3">
        <input type="email" asp-for="StudentEmail" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" asp-for="StudentPassword" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
   

</form>